<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>anita.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>471510A51EC2B9F50003E18B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>471510B91EC2B9F50003E18B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>471510C41EC2B9F60003E18B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
